@model ClinicaVeterinaria.Models.ViewModels.ConsultaFormViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>@ViewData["Title"]</h2>

<h4>Consulta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>



            <div class="form-group">
                <label asp-for="Consulta.VeterinarioId" class="control-label"></label>
                <select asp-for="Consulta.VeterinarioId" asp-items="@(new SelectList(Model.Veterinarios, "Id", "Nome"))"
                        class="form-control"></select>
            </div>

            <div class="form-group">
                <label asp-for="Consulta.EspecieId" class="control-label"></label>
                <select asp-for="Consulta.EspecieId" asp-items="@(new SelectList(Model.Especies, "Id", "NomeEspecie"))"
                        class="form-control"></select>
            </div>

            <div class="form-group">
                <label asp-for="Consulta.AnimalId" class="control-label"></label>
                <select asp-for="Consulta.AnimalId" asp-items="@(new SelectList(Model.Animal, "Id", "NomeAnimal"))"
                        class="form-control"></select>
            </div>

            <div class="form-group">
                <label asp-for="Consulta.Sintomas" class="control-label"></label>
                <input asp-for="Consulta.Sintomas" class="form-control" />
                <span asp-validation-for="Consulta.Sintomas" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Consulta.pago" class="control-label"></label>
                <input asp-for="Consulta.pago" class="form-control" />
                <span asp-validation-for="Consulta.pago" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="Consulta.MedicamentoId" class="control-label"></label>
                <select asp-for="Consulta.MedicamentoId" asp-items="@(new SelectList(Model.Medicamentos, "Id","NomeMedicamento"))"
                        class="form-control"></select>
            </div>

            <div class="form-group">
                <label asp-for="Consulta.ProprietarioId" class="control-label"></label>
                <select asp-for="Consulta.ProprietarioId" asp-items="@(new SelectList(Model.Proprietarios, "Id", "NomeProprietario"))"
                        class="form-control"></select>
            </div>

            <div class="form-group">
                <label asp-for="Consulta.ValorConsulta" class="control-label"></label>
                <input asp-for="Consulta.ValorConsulta" class="form-control" />
                <span asp-validation-for="Consulta.ValorConsulta" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Consulta.DataConsulta" class="control-label"></label>
                <input asp-for="Consulta.DataConsulta" class="form-control" />
                <span asp-validation-for="Consulta.DataConsulta" class="text-danger"></span>
            </div>





            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>


        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
