@model ClinicaVeterinaria.Models.Exame


@{
    ViewData["Title"] = "Delete";
}

<h2>@ViewData["Title"]</h2>

<h3> Deseja Deleter o Exame ?</h3>

<div>
    <h4>Consulta</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.NomeDoExame)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeDoExame)
        </dd>
        <dt>
        <dt>
            @Html.DisplayNameFor(model => model.ValorExame)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValorExame)
        </dd>
        <dt>
        <dt>
            @Html.DisplayNameFor(model => model.Animal.NomeAnimal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Animal.NomeAnimal)
        </dd>
        <dt>



    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index">Back to list</a>
    </form>



</div>
>

